<div ng-controller="CarouselController">
  <!--  <ul rn-carousel rn-carousel-auto-slide rn-carousel-index="carrouselIndexMp" rn-carousel-controls-allow-loop>
      <li ng-repeat="slide in slides">
        <div class="containder img-responsive" ><img ng-src="{{slide.image}}"></div>
        
      </li>
  }
  }
  </ul>

    <div class="rn-carousel-indicator custom-indicator">
      <span ng-repeat="slide in slides" ng-class="{active: $index==$parent.carrouselIndexMp}" ng-click="$parent.carrouselIndexMp = $index">★</span>
    </div> -->



  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">

      <li data-target="#myCarousel" ng-repeat="slide in slides" data-slide-to="$index" ng-class="{'active':{{$index==0}}}"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      
      <div class="item" ng-repeat="slide in slides" ng-class="{'active':{{$index==0}}}">
        <img class="img-responsive" ng-src="{{slide.image}}" alt="Chania">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

